@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Sigmar&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    flex-direction: column;
}

body {
    background: #eee;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main {
    width: 100%;
    height: 100vh;
    background: #666;
    /* border: 1px red solid; */
    font-weight: 500;
    font-size: x-large;
}

.main h1 {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 3pc;
}

.main p {
    font-size: 100px;
    font-family: 'Sigmar', sans-serif;
}